html {
    box-sizing: inherit;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eeeeee;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}